- var items = [{name:"等待接货",url:"record.html"},{name:"等待送货",url:"record.html"},{name:"拜访记录",url:"./business/push/recordList.html"},{name:"我的用户",url:"./business/push/myUserList.html"},{name:"员工管理",url:"record.html"},{name:"查看业绩"}];
ul.list-group
  each item in items
    a(href= item.url)
      li.list-group-item= item.name
        span.badge 1
