block local

ul.list-group
  li.list-group-item
    a.block(href="#{local}")
      .media
        .media-left.meida-middle.w20
          img(src="/diguaApp/images/tuwen.png", alt="")
        .media-body.w60
          div 阿里巴巴
          div 18215566566
        .media-right.w20
           button.btn.btn-default 设置
  li.list-group-item
    a.block(href="#{local}")
      .media
        .media-left.meida-middle
          img(src="/diguaApp/images/tuwen.png", alt="")
        .media-body
          div 阿里巴巴
          div 18215566566
