foot.navbar.navbar-default.navbar-fixed-bottom
  .container-fluid
    .row.foot
      div.foot-item
        a.block(href="/diguaApp/index.html") 业务
      div.foot-item 
        a.block(href="/diguaApp/my/myList.html") 我的
      //
        div.foot-item 通讯录
