ul.list-group
  li.list-group-item
    .orderlist.clearfix
      .order-left.text-over
        img.img-item(src="./images/tuwen.png", alt="")
        span 万物专用占位图加长长长长长长长长长长长长长版
      .order-right
        span x 23
