mixin infoList(lt,rt)
  li.list-group-item.info-item
    .left-txt= lt
    .right-content.text-right= rt 
      | >
  
ul.list-group
  + infoList('头像','新增')
  li.list-group-item.info-item
    .left-txt.txt-red 超市名称
    .right-content 
      input#marketName.form-control
  p
  li.list-group-item.info-item
    .left-txt 联系人
    .right-content 
      input#linkman.form-control
  li.list-group-item.info-item
    .left-txt 联系电话
    .right-content 
      input#phone.form-control(type="tel")
  li.list-group-item.info-item
    .left-txt.txt-red 地址
    .right-content 
      select#provinces.select.form-control
        option 全国
      select#city.select.form-control
        option 四川省四川省
      select#district.select.form-control
        option 成都市
  li.list-group-item.info-item
    .left-txt
    .right-content 
      input#street.form-control.address
      i.glyphicon.glyphicon-map-marker.point#point
  p
  li.list-group-item.info-item
    .left-txt 超市规模
    .right-content 
      select#scale.form-control
        option 小型独立超市
  li.list-group-item.info-item
    .left-txt 经营状况
    .right-content 
      select#state.form-control
        option 无法判断
  li.list-group-item.info-item
    .left-txt 备注
    .right-content 
      textarea#remark.form-control
