ul.list-group
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content.text-right 新增 >
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content 
      input.form-control
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content 
      input.form-control
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content 
      input.form-control
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content 
      input.form-control
  li.list-group-item.info-item
    .left-txt
    .right-content 
      input.form-control.address
      i.glyphicon.glyphicon-map-marker.point#point
  li.list-group-item.info-item
    .left-txt 超市规模
    .right-content 
      select.form-control
        option 小型独立超市
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content 
      select.form-control
        option 小型独立超市
  li.list-group-item.info-item
    .left-txt 门店图片
    .right-content 
      textarea.form-control
