ul.list-group
  li.list-group-item
    p.clearfix 
      span.pull-left.txt-red 下单时间：2015-09-08 17:46:47
      span.pull-right 已支付
    .media
      .media-left.pull-left
        a.block(href="#")
          img.media-object(src="./images/tuwen.png", alt="")
          img.media-object(src="./images/tuwen.png", alt="")
      .media-body.pull-right
        | 共36件
  li.list-group-item
    .media
      .media-left
        a(href="#")
          img.media-object(src="./images/tuwen.png", alt="")
      .media-body
        h4 叭叭叭叭叭叭叭叭叭叭叭叭叭叭叭
