ul.list-group
  li.list-group-item
    p.clearfix 
      span.pull-left.txt-red 下单时间：2015-09-08 17:46:47
      span.pull-right 已支付
    //
      .media
        .media-left.pull-left
          a.block(href="#")
            img.media-object(src="./images/tuwen.png", alt="")
            img.media-object(src="./images/tuwen.png", alt="")
        .media-body.pull-right
          | 共36件
    .orderlist.clearfix
      .order-left.text-over
        img.img-item(src="./images/tuwen.png", alt="")
        img.img-item(src="./images/tuwen.png", alt="")
        img.img-item(src="./images/tuwen.png", alt="")
        img.img-item(src="./images/tuwen.png", alt="")
        img.img-item(src="./images/tuwen.png", alt="")
        img.img-item(src="./images/tuwen.png", alt="")
        //
          span 万物专用占位图加长长长长长长长长长长长长长版
      .order-right
        span 共36件
    p.all-price
      span ￥ 998.00
