nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      block topleft
        div.navbar-back
          i.glyphicon.glyphicon-chevron-left
          span 返回
      div.navbar-content
        block topcenter
          | 业务
      div.navbar-info
        block topright
          | ...
