doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/common.css")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    block head
  body
    block top
      include includes/top.jade
    block section
    block tag
  script(src="/js/wanwu.js")
  script(src="/plugs/requirejs/require.js")
  block script
  
