doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/diguaApp/plugs/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/diguaApp/css/common.css")
    script(src="/diguaApp/plugs/jquery/jquery.js")
    block head
  body
    #main.page
        block top
          include includes/top.jade
        block section
        block tag
    block login
    script(src="/diguaApp/js/utils.js")
    script(src="/diguaApp/js/back.js")
    script(src="/diguaApp/js/Hybrid.js")
  block script

  
