doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/diguaApp/plugs/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/diguaApp/css/common.css")
    script(src="/diguaApp/plugs/jquery/jquery.js")
    block head
  body
    block top
      include includes/top.jade
    block section
    block tag
    script(type='text/javascript',data-main="config",src="require.js")
    script.
      requirejs(['config'],function(){
        requirejs(['service'],function(service){
          service.userLogin();
          debugger;
        })
      });
  block script

  
