extends common.jade

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 商家详情
block topcenter
  | 商家位置
block topright
  span#save 完成

block section
  #mapContainer.show

block script
    script(type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=8760360d4d0f0a29553680c42977a909")
    script.
      var map, geolocation, marker;
      //加载地图
      map = new AMap.Map('mapContainer', {
          resizeEnable: true,
          zoom:14
      });
      map.plugin('AMap.Geolocation', function() {
          geolocation = new AMap.Geolocation({
              enableHighAccuracy: true,//是否使用高精度定位，默认:true
              timeout: 10000,          //超过10秒后停止定位，默认：无穷大
              maximumAge: 0,           //定位结果缓存0毫秒，默认：0
              convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
              showButton: true,        //显示定位按钮，默认：true
              buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
              buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
              showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
              //- markerOptions: new AMap.Marker(),
              showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
              //- circleOptions: new AMap.Circle({radius:50}),
              panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
              zoomToAccuracy: true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
          });
          geolocation.getCurrentPosition();
          //- console.log(geolocation.getCurrentPosition());
          map.addControl(geolocation);
          AMap.event.addListener(geolocation, 'complete', onComplete);
      });
      //解析定位结果
      function onComplete(data) {
          map.setZoom(18);
      }
      map.on( 'dragstart', function(e) {
        //- addMarker();
        marker && marker.setMap(null);
      });
      map.on( 'dragend', function(e) {
        addMarker();
      });
      // 实例化点标记
      function addMarker() {
        marker = new AMap.Marker({
          icon: "http://webapi.amap.com/images/marker_sprite.png",
          position: map.getCenter()
        });
        marker.setMap(map);
      }
