@gray1:#4e4e4e;
@gray2:#888888;
@gray3:#c2c2c2;
@gray4:#d8d8d8;
@gray5:#e8e8e8;
@red:#d9534f;
@blue:#337ab7;

.flex(){
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.box-flex(@x:1){
  -webkit-box-flex: @x;            /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: @x;               /* OLD - Firefox 19- */
  -webkit-flex: @x;                /* Chrome */
  -ms-flex: @x;                    /* IE 10 */
  flex: @x;
}

// 定义flex布局
.showflex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/**
 * [设置或检索弹性盒子元素在侧轴（纵轴）方向上的对齐方式。]
 * @param  {[type]} @align:center [默认值居中 center]
 * 属性值 flex-start | flex-end | center | baseline | stretch
 */
.flex-alignItems(@align:center){
  -webkit-box-align: @align;
  -ms-flex-align: @align;
  -webkit-align-items: @align;
  align-items: @align;
}

/**
 * [设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。]
 * @param  {[type]} @space:space-between [默认值平均分布space-between]
 * 属性值 flex-start | flex-end | center | space-between | space-around
 */
.flex-justifyContent(@space:space-between){
  -webkit-justify-content:@space;
  justify-content: @space;
}

body{
  background-color: #f4f4f4;
}
img{
  width: 100%;
}
.txt-red{
  color: @red;
}
.block{
  display: block;
}
.text-over{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mar-bottom{
  margin-bottom: 55px;
}
.main{
  padding-top: 50px;
}

a{
  margin: 0;
  padding: 0;
  color: inherit;
}
a:focus,a:hover,a:active{
  color: inherit;
  text-decoration: none;
}

.large-btnbox{
  padding: 10px;
}

li.list{
  padding: 10px;
  list-style: none;
}

.right-tip::after{
  content: ">";
  padding: 0 5px;
}
#addImage,.addImage{
  background-repeat: no-repeat;
  background-position: right 46px top;
  background-size: contain;
}

.pages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.z-panel{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10000;
  overflow: auto;

  .search-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
  }

  .search-list{
    padding-top: 55px;
  }
}

// 重置bootstrap
@import "reset-boot.less";

@import "top.less";
@import "person.less";
@import "order.less";
@import "business.less";
@import "record.less";
@import "form.less";
@import "tabs.less";
@import "manage.less";
@import "map.less";
@import "foot.less";
