#customer-list{
    .flex{
        .flex;

        .flex-left{
            width: 15%;
            display: flex;
            margin-right: 5px;
            .flex-alignItems;
        }

        .flex-body{
            .box-flex(3);
            .address{
                word-break:break-all;
            }
        }

        .flex-right{
            display: flex;
            .box-flex(1);
            .flex-alignItems;
            .right-center{
                width: 100%;
            }
            p{
                line-height: 24px;
                margin: 0;
                text-align: right;
            }
        }
    }

    .list-group-item{
        margin-bottom: 5px;
    }

    .record-txt{
        color: #666;
        font-size: 12px;
        margin:5px 0 0;
        padding: 5px 5px 0;
        border-top: 1px #eee solid;
    }
}
.customerDetail{
    .flex-body{
        margin-left:8px;
        #shopName{
            margin-top:8px;
        }
    }
}
.contact{
    border-top: 1px dashed;
    margin-top: 12px;
    padding-top: 8px;
    em,i{
        font-style: normal;
        &:after{
            content:":";
            padding-right:6px;
        }
    }
}
.visitData{
    font-size:0px;
    *word-spacing:-1px;
    white-space:nowrap;
    text-align:center;
    background-color: #fff;
    margin: 8px 0;
    padding: 0 12px;
    border: 1px solid #dedede;
    height: 46px;
    line-height: 46px;
    .dib{
        display: inline-block;
        *display:inline;
        *zoom:1;
        font-size: 12px;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align:top;
        text-align:left;
    }
    .w10{
        width:10%;
    }
    .w20{
        width:20%;
    }
    .w30{
        width:30%;
    }
    .w40{
        width:40%;
        text-align:right;
    }
    .orderNumber{
        &:after{
            content:"单"
        }
    }
    .money{
        &:before{
            content:"￥"
        }
    }
    .moreData{
        text-align:right;
    }
}
.visitTitle{
    padding-left:12px
}
.visitList{
    background-color:#fff;
    .vistTime{
        display:inline-block;
        width:30%;
    }
    .vistRemark{
        display:inline-block;
        width:70%;
    }
}
.visitNotes{
    position: fixed;
    display:none;
    width:100%;
    height:100%;
    z-index:10000;
    top:0;
    background-color:rgba(0,0,0,.6);
    .visitNotesMain{
        width:100%;
        padding-top:1px;
        margin-top:50px;
        background-color:rgb(242,242,242);
        padding-bottom:20px;
    }
    h5{
        padding-left:12px;
    }
    .visitNotesContent{
        text-align:center;
        textarea{
            width:96%;
            min-height:120px;
        }
    }
    .btn-block{
        width:50%;
        margin:0 auto;
    }
    .navbar-content span{
        white-space:nowrap;
    }
    .left-back{
        .box-flex(1);
    }
}

.screen-box{
    display: table;
    width: 100%;
    background: #fff;
    .inline-box{
        width: 40%;
        padding: 5px 10px;
        display: table-cell;
        border-right: 1px solid #eee;
    }
    .search{
        display: table-cell;
        text-align: center;
    }
}
.sort-box{
    display: table;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-top: 1px solid #eee;
    .sort-item{
        display: table-cell;
        text-align: center;
    }


    .asc{
        position: relative;
        &::after{
            content: "";
            width: 2px;
            display: block;
            height: 2px;
            border: 5px solid transparent;
            border-bottom-color: #333;
            position: absolute;
            top: 0;
            right: -16px;
        }
    }

    .desc{
        position: relative;
        &::after{
            content: "";
            width: 2px;
            display: block;
            height: 2px;
            border: 5px solid transparent;
            border-top-color: #333;
            position: absolute;
            bottom: 0;
            right: -16px;
        }
    }

    .pointbox{
        width: 45px;
        border-left: 1px #eee solid;
    }

}

.list-item{
    position: relative;
    padding-right: 24px;
    font-size: 12px;
    &::after{
        content: ">";
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
    }
    .item-line {
        margin-bottom: 5px;
        .right{
            float: right;
        }
    }
    .mr20{
        margin-right: 20px;
    }
}

.time-box{
    background: #fff;
    .week-frame{
        line-height: 32px;
        margin-bottom: 5px;
    }
    .week-frame,.week-group{
        .flex;
    }
    .last-week,.next-week,.week-item{
        .box-flex(1);
        text-align: center;
    }
    .this-week{
        width: 80%;
        text-align: center;
    }
    .week-group{
        border-top: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
    }
    .week-item{
        border-left: 1px #ccc solid;
        padding: 5px;
        line-height: 24px;
    }
}
.curr{
    background: #b9b9b9;
    color: #fff;
    font-weight: 600;
}
