.record-list{
  .search-box{
    padding: 10px 10px;
    border-bottom: 1px @gray5 solid;
    margin-bottom: 10px;
    background-color: #fff;
    
    .left-input{
      width: 85%;
      float: left;
    }

    .right-btn{
      width: 15%;
      float: left;
      line-height: 34px;
      text-align: center;
    }
  }
  .add-record{
    padding: 10px 10px;
    border-bottom: 1px @gray5 solid;
  }
  .list-date{
    padding-left: 10px;
    line-height: 40px;
      .point{
        font-size: 18px;
        padding: 0 10px;
      }
  }
}

.record-form{
  padding-top: 10px;

    .list-group{
      margin-bottom: 10px;
    }
    .time{
      padding: 0 15px;
    }
}
