extends ../../common.jade
block local
  - var local = "./customerAdd.html";

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 业务
block topcenter
  | 客户管理

block section
  section.main
    .record-list
        .search-box
            input#search.form-control(type="text" placeholder="搜索")
        .add-record
            a.btn.btn-primary.btn-lg.btn-block(href="./customerAdd.html") +添加新的客户
        #customer-list
            .list-date.bg-warning.panel-head(data-collapse="lastTask")
              span 昨天应该去拜访的客户 
                  b.txt-red（2）
            ul#lastTask.list-group.panel-main.collapse.in
                li.list-group-item
                    a.block(href="#{local}")
                        .flex
                            .flex-left.meida-middle
                                img(src="/diguaApp/images/tuwen.png", alt="")
                            .flex-body
                                div 阿里巴巴
                                div 18215566566
                                div.address 水水水水水水水水水水水水水水水水水水水
                                div 2015-09-08
                            .flex-right 
                                div.right-center
                                    p 过去7天 
                                    p 40单 
                                    p ￥25003.00 
                    p.record-txt
                        | 叭叭叭叭叭叭叭 
                        time —— 2015-11-05
                li.list-group-item
                  a.block(href="#{local}")
                    .flex
                        .flex-left.meida-middle
                            img(src="/diguaApp/images/tuwen.png", alt="")
                        .flex-body
                            div 阿里巴巴
                            div 18215566566
                            div.address 水水水水水水水水水水水水水水水水水水水
                            div 2015-09-08
                        .flex-right.txt-red
                            div.right-center
                                p 还未注册
            .list-date.bg-warning.panel-head(data-collapse="todayTask")
                span 今天应该去拜访的客户（2）
            ul#todayTask.list-group.panel-main.collapse
                li.list-group-item
                  a.block(href="#{local}")
                    .flex
                        .flex-left.meida-middle
                            img(src="/diguaApp/images/tuwen.png", alt="")
                        .flex-body
                            div 阿里巴巴
                            div 18215566566
                            div.address 水水水水水水水水水水水水水水水水水水水
                            div 2015-09-08
                        .flex-right 
                            div.right-center
                                p 过去7天 
                                p 40单 
                                p ￥25003.00 
                li.list-group-item
                  a.block(href="#{local}")
                    .flex
                        .flex-left.meida-middle
                            img(src="/diguaApp/images/tuwen.png", alt="")
                        .flex-body
                            div 阿里巴巴
                            div 18215566566
                            div.address 水水水水水水水水水水水水水水水水水水水
                            div 2015-09-08
                        .flex-right.txt-red
                            div.right-center
                                p 还未注册
            .list-date.bg-warning.panel-head(data-collapse="allTask")
                span 所有拜访的客户（2）
            ul#allTask.list-group.panel-main.collapse
                li.list-group-item
                  a.block(href="#{local}")
                    .flex
                        .flex-left.meida-middle
                            img(src="/diguaApp/images/tuwen.png", alt="")
                        .flex-body
                            div 阿里巴巴
                            div 18215566566
                            div.address 水水水水水水水水水水水水水水水水水水水
                            div 2015-09-08
                        .flex-right 
                            div.right-center
                                p 过去7天 
                                p 40单 
                                p ￥25003.00 
                li.list-group-item
                  a.block(href="#{local}")
                    .flex
                        .flex-left.meida-middle
                            img(src="/diguaApp/images/tuwen.png", alt="")
                        .flex-body
                            div 阿里巴巴
                            div 18215566566
                            div.address 水水水水水水水水水水水水水水水水水水水
                            div 2015-09-08
                        .flex-right.txt-red
                            div.right-center
                                p 还未注册

block script
    script(src="/diguaApp/js/push/customerList.js")
