extends ../../common.jade
include ../../includes/statistics.jade

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 业务
block topcenter
  | 详细数据
block toprightTxt

block section
  section.main
    ul#myTabs.nav.nav-tabs.data-tab(role="tablist")
      li.active(role="presentation")
        a(href="#day" aria-controls="day" role="tab" data-toggle="tab") 1天
      li(role="presentation")
        a(href="#week" aria-controls="week" role="tab" data-toggle="tab") 1周
      li(role="presentation")
        a(href="#month" aria-controls="month" role="tab" data-toggle="tab") 1月
      li(role="presentation")
        a(href="#total" aria-controls="total" role="tab" data-toggle="tab") 总计
    .tab-content
      #day.tab-pane.active(role="tabpanel")
        ul.list-group
          +statistics([{name:"拜访量",num:"3"},{name:"新用户",num:"123"},{name:"下单新用户",num:"31"},{name:"订单数",num:"6"},{name:"订单金额",num:"￥666"}])
      #week.tab-pane(role="tabpanel")
        ul.list-group
          +statistics([{name:"拜访量",num:"3"},{name:"新用户",num:"11"},{name:"下单新用户",num:"36"},{name:"订单数",num:"5"},{name:"订单金额",num:"￥432"}])
      #month.tab-pane(role="tabpanel")
        ul.list-group
          +statistics([{name:"拜访量",num:"12"},{name:"新用户",num:"123"},{name:"下单新用户",num:"36"},{name:"订单数",num:"5"},{name:"订单金额",num:"￥123"}])
      #total.tab-pane(role="tabpanel")
        ul.list-group
          +statistics([{name:"拜访量",num:"41"},{name:"新用户",num:"123112"},{name:"下单新用户",num:"36"},{name:"订单数",num:"5"},{name:"订单金额",num:"￥666666"}])
block script
  script(src="/bower_components/bootstrap/js/tab.js")
  script.
    $(function(){
      $('#myTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })
    })
