extends ../../common.jade

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 我的用户
block topcenter
  | 商家详情
block toprightTxt
  span#save 保存

block section
  section.main
    .record-form
      include ../../includes/infoform.jade
      small#time.time.help-block 注册时间 2015-09-28
      #mapPage
        #mapContainer
        div#option.option
            span#addrInfo 正在定位中...
            button.btn.pull-right.addLocal 确定
        img#pointImg(src="http://webapi.amap.com/images/marker_sprite.png")
        button.btn#cancel 取消
block script
    script(type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=1abff9b9417a4c2a1b5ee2bba67abc4b")
    script(src="/diguaApp/js/push/userInfo.js?201510171751")
