extends ../../common.jade
block local
  - var local = "./recordAdd.html";

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 业务
block topcenter
  | 拜访记录

block section
  section.main
    .record-list
        li#myRecord.list-group-item.info-item.mt10
            b.left-txt 我的拜访
            .right-content.text-right.right-tip
                span#today.mrl10.txt-red 今日 0
                span#total.mrl10 总计 0
        ul#departList.list-group.mt10

        ul#empList.emp-list.list-group

block script
    script(src="/diguaApp/js/push/recordMyGuys.js")
