extends ../common.jade

block topleft
block topcenter
  | 我的
block topright

block section
  section.mar-bottom.main
    ul.list-group
        li.list-group-item.info-item.mtb10
          | 我的邀请码
          span#recommend_code(style="padding:0 10px")
        a(href="./myInfo.html")
            li.list-group-item.info-item
                | 我的资料
                span.right-content.text-right >
      //
        a(href="./mySetting.html")
          li.list-group-item
            | 设置
            span.text-right >
        a(href="./about.html")
          li.list-group-item
            | 关于
            span.badge >
        a(href="./feedback.html")
          li.list-group-item
            | 意见反馈
            span.badge >
    .large-btnbox
        #sign-out.btn.btn-danger.btn-block.btn-lg 退出
block tag
  include ../includes/foot.jade

block script
  script(type='text/javascript',src='/diguaApp/js/my/myList.js')
