extends ../../common.jade
mixin infoList(lt,rt)
  li.list-group-item.info-item
    .left-txt= lt
    .right-content.text-right= rt
      | >
mixin infoInput(lab)
  li.list-group-item.info-item
    .left-txt= lab
    .right-content
      input.form-control
mixin infoSelect
  li.list-group-item.info-item
    .left-txt 所在地区
    .right-content
      select.select.form-control
        option 全国
      select.select.form-control
        option 四川省四川省
      select.select.form-control
        option 成都市
mixin infoSwitch
  li.list-group-item.clearfix
    div.pull-left 地推功能
    input.pull-right.mui-switch.mui-switch-animbg(type="checkbox")

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 业务
block topcenter
  | 部门管理
block toprightTxt
  span#save 保存


block section
  section.main
    div 基本信息
    + infoList('部门名称','名称')
    + infoList('头像','')
    p
    + infoList('部门公告','')
    p
    div 部门成员
    ul.depart-inline
      li.depart-list
        img(src="../../images/tuwen.png")
        .caption
          | alonehover
      li.depart-list
        img(src="../../images/tuwen.png")
        .caption
          | alonehover
      li.depart-list
        img(src="../../images/tuwen.png")
        .caption
          | alonehover
      li.depart-list
        img(src="../../images/tuwen.png")
        .caption
          | alonehover
    p
    + infoList('负责人','某某')
    small.time.help-block 注册时间 2015-09-28
block script
   script(src="/diguaApp/js/manage/departmentInfo.js")
