extends ../../common.jade
block local
  - var local = "./employeeInfo.html";

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 业务
block topcenter
  | 部门管理

block section
  section.main
    .record-list
      .search-box
        input#search.form-control(type="text" placeholder="搜索")
      #departList
        .list-date.clearfix.bg-warning
          span 部门
        ul.depart-inline
          li.depart-list
            img(src="../../images/tuwen.png")
            .caption
              | alonehover
          li.depart-list
            img(src="../../images/tuwen.png")
            .caption
              | alonehover
          li.depart-list
            img(src="../../images/tuwen.png")
            .caption
              | alonehover
          li.depart-list
            img(src="../../images/tuwen.png")
            .caption
              | alonehover

block script
   script(src="/diguaApp/js/manage/departmentList.js")
   script.
