extends ../../common.jade
block local
  - var local = "./employeeInfo.html";

block topleft
  div.navbar-back
    i.glyphicon.glyphicon-chevron-left
    span 业务
block topcenter
  | 员工管理
block toprightTxt
  span#add 添加
block section
  section.main
    .record-list
      .search-box
        input#search.form-control(type="text" placeholder="搜索")
      .list-date.clearfix.bg-warning
        span 部门
      include ../../includes/employee.jade

block script
   script(src="/js/manage/employeeList.js")
   script.
      $(function(){
          $("#search").on('keyup',function(e){
              var k = e.keyCode || e.which;
              if(k == 13){
                window.location.href = "./employeeSearch.html";
              }
          });
      });
